.option{
    border-top: 2px solid wheat;
    border-bottom: 2px solid wheat;

    color: whitesmoke;
    padding-left: $s-size;
    display: flex;
    justify-content: space-between;
}

.option__text{
    padding: $s-size;
    border: none;
}